@import "variable.styl"

body, html
  line-height: 1
  font-family: 'PingFang SC', 'STHeitiSC-Light', 'Helvetica-Light', arial, sans-serif, 'Droid Sans Fallback'
  user-select: none
  -webkit-tap-highlight-color: transparent
  color: $color-text

html, body
  // font-size: calc(100vw/375)
  background: $color-background
  height 100%

body
  // max-width: 640px
  // margin: 0 auto
  font-size: $font-size-medium

.pr
  position relative

.pa
  position absolute

.fl
  float: left

.fr
  float: right

.m-bar
  margin-top: 1.2rem

.flex
  display: -webkit-flex

.flex-wrap
  flex-wrap: wrap

.flex-item
  flex: 1

.align-center
  -webkit-align-items: center

.between
  -webkit-justify-content: space-between

.justify-center
  -webkit-justify-content: center

.direction-column
  -webkit-flex-direction: column

.br:after
  content: ""
  position: absolute
  bottom: 0
  left: 0
  width: 200%
  height: 200%
  -webkit-transform: scale(0.5, 0.5)
  -webkit-transform-origin: 0 0
  z-index: 1

.a-br:after
  border: 1px solid #ddd
  top: 0
  z-index: -1

.b-br:after
  height: 0
  bottom: 0
  border-bottom: 1px solid #ddd

.t-br:after
  height: 0
  top: 0
  border-top: 1px solid #ddd

.l-br:after
  width: 0
  left: 0
  border-left: 1px solid #ddd

.r-br:after
  width: 0
  right: 0
  left: auto
  border-right: 1px solid #ddd
  top: 0

.clearfix:after
  content: ''
  height: 0
  width: 0
  display: block
  clear: both
  